// if you don't know how to name it, just use http://chir.ag/projects/name-that-color
$background: #e5e8ed;
$oslo-gray: #868c96;
$heather: #c3ccd9;
$light-blue: #1493ff;
$blue: #0a508c;
$casper: #a5b5cb;
$trout: #4f5b65;
$azure-radiance: #067CE1;
$ghost: #C8CCD4;
$mexican-red: #b02337;
$flamingo: #f04e34;

